@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}

.media,
.media-body {
  overflow: hidden;
  zoom: 1;
  margin-left: 100px;
}

.media,
.media .media {
  margin-top: 15px;
}

.media:first-child {
  margin-top: 0;
}

.media-object {
  display: block;
}

.media-heading {
  margin: 0 0 5px;
}

.media > .pull-left {
  margin-right: 10px;
}

.media > .pull-right {
  margin-left: 10px;
}

.media-list {
  padding-left: 0;
  list-style: none;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.text-info {
  color: #3a87ad;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

#recaptcha_area { margin: auto}