@model  MFMElectronique.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<div class="register_account">
    <div class="wrap">
            <h4 class="title">@MFMElectronique.Views.ShoppingCart.Resources.Empty</h4>       
    </div>
</div>