
@{
    ViewBag.Title = "ConfirmPaiement";
}

<h2>@MFMElectronique.Views.CheckoutPaypal.Resources.ConfirmPaiement</h2>
<p>
    @ViewBag.shippingAdress
</p>

@using(Html.BeginForm("ConfirmerTransaction", "CheckoutPaypal", FormMethod.Post))
{
    <input type="submit" name="ConfirmationPaiement" value="@MFMElectronique.Views.CheckoutPaypal.Resources.ConfirmationUltime" />
}