
@{
    ViewBag.Title = "ConfirmPaiement";
}

<h2>ConfirmPaiement</h2>
<p>
    @ViewBag.shipping
</p>
@using(Html.BeginForm("ConfirmerTransaction", "CheckoutPaypal", FormMethod.Post))
{
   
    <input type="submit" name="ConfirmationPaiement" value="Confirmation Ultime" />
}