@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Locked Out";
}
<hgroup>
    <h1 class="text-danger">
        @MFMElectronique.Views.Shared.Resources.Lockout01
    </h1>
    <h2 class="text-danger">
        @MFMElectronique.Views.Shared.Resources.Lockout02
    </h2>
</hgroup>
