@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<h1 class="text-danger">
    @MFMElectronique.Views.Shared.Resources.Error01
</h1>
<h2 class="text-danger">
    @MFMElectronique.Views.Shared.Resources.Error02
</h2>
